/** @format */

.App {
  margin: 5% 40%;
  text-align: left;
}
.Balnc > p {
  margin: 0;
}
.InEx {
  box-shadow: 1px 1px lightgray;
  height: 4em;
  width: 100%;
  font-size: small;
  text-align: center;
  background-color: #f8f8f8;
  border-radius: 1em;
  margin: 1em auto;
}
.clr {
  border-right: 1px solid grey;
}
.logoHistory {
  border-bottom: 1px solid grey;
  margin: 1em 1em;
  padding: 0.5em 0;
  font-weight: bold;
}
.tile {
  display: inline-flex;
  justify-content: space-between;
  width: 85%;
  background-color: #f8f8f8;
  box-shadow: 1px 1px lightgray;
  padding: 0.7em;
  border-radius: 0.5em;
}
.plus {
  border-right: 4px inset green;
}
.minus {
  border-right: 4px inset red;
}
.btn-del {
  margin-right: 1em;
  color: white;
  font-size: larger;
  font-weight: bolder;
  background-color: #4a73fa;
  border-radius: 5px;
  border: none;
}
